{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "exclude": ["transform-regenerator"],
            "targets": {
              "node": "6",
              "browsers": ["ie>=9"]
            },
            "loose": true,
            "useBuiltIns": true
          }
        ],
      ],
    }
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6",
          "browsers": ["ie>=9"]
        },
        "exclude": ["transform-regenerator"],
        "loose": true,
        "modules": false,
        "useBuiltIns": true
      }
    ],
    // "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "ignore": [
  ]
}
